<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= @title %> - ABCDrawing</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/<%= @css %>">
</head>
<body>
  <a href="/"><h1>ABCDrawing</h1></a>
  <h2><%= @title %></h2>
  <%= yield %>
</body>
</html>
