  <form action="/auth" method="post">
    ユーザーID <input required type="text" name="userid" size="40" maxlength="<%= @userid_max %>"><br>
    パスワード <input required type="password" name="password" size="40" maxlength="<%= @pass_max %>"><br><br>
    <input type="submit" value="ログイン">
  </form>
