@charset "UTF-8";

.page {
    font-size: 150%;
}

.number {
    font-size: 12pt;
    font-weight: bold;
}

.name {
    color: navy;
    font-size: 12pt;
    font-weight: bold;
}

.time {
    font-size: 12pt;
    font-weight: bold;
}

.text {
    font-size: 14pt;
}
