#top {
    display: flex;
    align-items: center;
}

#tool {
    width: 25vw;
}

#tool-top {
    margin: 0 auto;
}

#tool-top img {
    width: 7vh;
    height: 7vh;
}

#pallet {
    margin: 3vh auto;
    border: 2px solid #666666;
    border-radius: 10px 10px 10px 10px;
    
    box-shadow: 0 0 3px #cacaca;
}

#pallet td {
    width: 7vh;
    height: 5vh;
    
    background-color: #f2f2f2;
}

#pallet div {
    width: 3.5vh;
    height: 3.5vh;
    
    margin: 0 auto;
    border-radius: 50%;
    
    box-shadow: -1px 1px 0px black;
}

#color-DeepRed {
    background-color: #c1272d;
}

#color-Purple {
    background-color: #a000a0;
}

#color-Green {
    background-color: #00ff00;
}

#color-VividGreen {
    background-color: #7fe021;
}

#color-Red {
    background-color: #ff0000;
}

#color-Blue {
    background-color: #0000ff;
}

#color-Yellow {
    background-color: #ffff00;
}

#color-DarkGreen {
    background-color: #556b2f;
}

#color-SalmonPink {
    background-color: #ed1e79;
}

#color-DeepBlue {
    background-color: #0071b0;
}

#color-VividOrange {
    background-color: #fbb03b;
}

#color-Gray {
    background-color: #808080;
}

#color-HotPink {
    background-color: #ff69b4;
}

#color-LightBlue {
    background-color: #32c8ff;
}

#color-Orange {
    background-color: #f7931e;
}

#color-Black {
    background-color: #141414;
}

#color-Pink {
    background-color: #ffc0cb;
}

#color-VividBlue {
    background-color: #32c8ff;
}

#color-Beige {
    background-color: #c69c6d;
}

#color-White {
    background-color: #ffffff;
}

#canvas-box {
    position: absolute;
    width: 50vw;
    top: 0px;
    left: 0px;
}

#imageCanvas, #canvas {
    display: block;
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
    border: 2px solid black;
}

#imageCanvas {
    z-index: 1;
}

#canvas {
    z-index: 2;
}
